@import "~@angular/material/theming";

.network-status {
  margin: 3px;
  text-align: center;
  background-color: map_get($mat-red, 600);
  color: white;
  padding: 3px;

  .netstat {
    font-size: 0.8em;
  }

  .offline {
    font-size: 0.9em;
  }
}

.client {
  width: 70%;
}

.btn-help-desk {
  width: 130px;
  line-height: 28px;
  font-size: 12px;
}

.btn-whats-new {
  margin-left: 4px;
  width: 120px;
  line-height: 28px;
  font-size: 12px;
}

.greetings {
  font-size: 12px;
  color: map_get($mat-blue-grey, 500);
}

.hide {
  visibility: hidden;
}

.mat-menu-itemsmall {
  width: 100%;
  height: 25px;
  font-size: 11px;
}
.mat-menu-item {
  line-height: 20px;
}
