<section>
  <mat-progress-bar [color]="color" mode="query" class="" [ngClass]="{'hide': !showProgess}">
  </mat-progress-bar>
  <mat-toolbar [ngStyle]="{'height':navigation.mediumScreenAndDown ? '150px': '64px'}" ngStyle.lt-sm="height: 100px;">
    <button mat-icon-button (click)="toggleSidenav()" id="menu-toggler" *ngIf="sidenavOpenStyle !== 'off'">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-flex-filler"></span>
    <div class="user">
      <mat-icon aria-hidden="false" aria-label="Users face" color="warn">face</mat-icon>
      <span class="user-name">{{userName}}</span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #menu="matMenu" x-position="after">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item> Sign Out</button>
    </mat-menu>
  </mat-toolbar>
</section>
