@import "~@angular/material/theming";
@import "../../../assets/scss/navigation";

.main-containter {
  position: flex;
  flex-wrap: nowrap;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // background: map_get($mat-blue-grey, 500);

  #sideNavigation {
    background-color: $secondary-color;
  }

  .select-message {
    font-size: 1.2em;
    color: map-get($mat-red, 500);
    margin: 10px 0 0 14px;
  }

  .container {
    min-height: 800px;
    height: inherit;
  }
}
